<!-- Social Icons -->
<section class="bg-gradient-blue" data-aos="fade-up" data-aos-delay="1250">
  <div class="container">
    <div class="row">

      <div class="col"></div>

      <div class="col-6 p-5 my-5">
        <ul class="icons" style="padding-left:0;">
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-youtube"></i></li>
        </ul>
      </div>

      <div class="col"></div>

    </div>
  </div>
</section>
