<div class="container ">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <!-- Post List -->
      {% for post in site.posts limit : 5 %}

      <article class="post-preview pb-5">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">

          <div class="card text-white mb-3 border-0">
            <img class="img-fluid rounded" src="{{ post.img.src }}" alt="{{ post.img.alt }}">
            <div class="card-img-overlay" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))">
              <p class="post-meta">
                Posted by
                {% if post.author %}
                {{ post.author }}
                {% else %}
                {{ site.author }}
                {% endif %}
                on
                {{ post.date | date: '%B %d, %Y' }} &middot; {% include modules/read_time.html content=post.content %}
              </p>
            </div>
          </div>

          <h2 class="post-title text-white">{{ post.title }}</h2>
        </a>
        {% if post.subtitle %}
        <p class="post-subtitle text-white">{{ post.subtitle }}</p>
        {% else %}
        <p class="post-subtitle text-white">{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
        {% endif %}
      </article>

      {% endfor %}

    </div>
  </div>
</div>
